@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Questrial');


h1, h2, h3, h4, h5{
font-family:"Questrial", sans-serif;
}

p, ul, li, nav{
font-family:"Fira Sans", sans-serif;
}


html {
  font-size: 16px;
}

body {
  color: #222;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

p {
  padding-bottom:10px;
  padding-left: 10px;
  padding-right:10px;
}

a {
  color: rgb(63,57,108);
}

a:visited{
  color: rgb(44,45,86);
}

a:hover{
  color: rgb(94,43,108);
}

h1, h2, h3, h4, p{
  margin:0;
}

h1, h2, h3, h4, nav {
  padding-top:10px;
  padding-left: 10px;
  padding-bottom:0;
}

ul {
  margin: 10px 0px;
}

footer p {
  padding: 0px 10px;
  display: inline-block;
}

footer img{
  padding-right:10px;
  vertical-align: middle;
}

footer{
  margin-top: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding:10px;
  background-color: #eee;
}

#intro{
  grid-area: intro;
}

#photo {
  grid-area: photo;
  border: 1px solid #222;
}
#introtitle{
  grid-area:introtitle;
}

.gridIndex{
  display:grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  grid-gap: 20px;
  grid-template-areas:
  "introtitle ."
  "intro photo"
}

#thesis{
  grid-area: thesis;
  line-height: 1.5;
}

#novel{
  grid-area: novel;
  line-height: 1.5;
}

#art{
  grid-area:art;
  line-height: 1.5;
}

#writing{
  grid-area: writing;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#writing:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}

#book {
  grid-area: book;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#book:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}


#supply {
  grid-area: supply;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#supply:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}

#thesistitle{
  grid-area: thesistitle;
}
#noveltitle{
  grid-area:noveltitle;
}
#artstitle{
  grid-area:artstitle;
}
.gridProjects{
  display:grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap:20px;
  grid-template-areas:
  "writing book supply"
  "thesistitle noveltitle artstitle"
  "thesis novel art"
}



#exp{
  grid-area:exp;
}
#garden > p,h4 {
  padding-top:0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left:10px;
}

#hurricane > p, h4{
  padding-top:0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left:10px;
}

#affairs > p, h4{
  padding-top:0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left:10px;
}

#tfc > p, h4{
  padding-top:0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left:10px;
}

#hurricane{
  grid-area:hurricane;
  line-height: 1.5;
}

#garden{
  grid-area:garden;
  line-height: 1.5;
}

#affairs{
  grid-area:affairs;
  line-height: 1.5;
}

#tfc{
  grid-area:tfc;
  line-height: 1.5;
}

.gridResume{
  display:grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap:20px;
  grid-template-areas:
  "exp exp"
  "affairs tfc"
  "garden hurricane"
}
.gridResume h3{
  padding-top:0;
}

#frank{
  grid-area: frank;
  line-height: 1.5;

}

#grendel{
  grid-area:grendel;
  line-height: 1.5;
}

#beowulf{
  grid-area:beowulf;
  line-height: 1.5;
}

#wind{
  grid-area:wind;
  line-height: 1.5;
}

#child{
  grid-area:child;
  line-height: 1.5;
}

#spook{
  grid-area:spook;
  line-height: 1.5;
}

#fowl{
  grid-area:fowl;
  line-height: 1.5;
}

#warrior{
  grid-area:warrior;
  line-height: 1.5;
}

#japan{
  grid-area:japan;
  line-height: 1.5;
}

#space{
  grid-area:space;
  line-height: 1.5;
}

#watch{
  grid-area:watch;
  line-height: 1.5;
}

#monstress{
  grid-area:monstress;
  line-height: 1.5;
}

#connor{
  grid-area:connor;
  line-height: 1.5;
}

#lottery{
  grid-area:lottery;
  line-height: 1.5;
}

#titleone{
  grid-area:titleone;
}

#titletwo{
  grid-area:titletwo;
}

#titlethree{
  grid-area:titlethree;
}

#titlefour{
  grid-area:titlefour;
}

#frankpic{
  grid-area:frankpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#frankpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#grendelpic{
  grid-area:grendelpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#grendelpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#beowulfpic{
  grid-area:beowulfpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#beowulfpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#windpic{
  grid-area:windpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#windpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#childpic{
  grid-area:childpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#childpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#spookpic{
  grid-area:spookpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#spookpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#fowlpic{
  grid-area:fowlpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#fowlpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#warriorpic{
  grid-area:warriorpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#warriorpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#japanpic{
  grid-area:japanpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#japanpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#spacepic{
  grid-area:spacepic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#spacepic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#watchpic{
  grid-area:watchpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#watchpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#monsterpic{
  grid-area:monsterpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#monsterpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#connorpic{
  grid-area:connorpic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#connorpic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
#lotterypic{
  grid-area:lotterypic;
  border: 1px solid #ccc;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

#lotterypic:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in;
}
.gridBook{
  display:grid;
  grid-template-columns: repeat(4,auto);
  grid-template-rows: repeat(11,auto);
  grid-gap: 20px;
  grid-template-areas:
  "titleone . . ."
  "frankpic frank grendelpic grendel"
  "beowulfpic beowulf  windpic wind"
  "titletwo . . ."
  "childpic child spookpic spook"
  "fowlpic fowl warriorpic warrior"
  "titlethree . . ."
  "japanpic japan spacepic space"
  "watchpic watch monsterpic monstress"
  "titlefour . . ."
  "connorpic connor lotterypic lottery"
}

.gridBook p{
  padding-top: 10px;
  padding-bottom: 0;
}

.gridBook h3{
  padding-top: 0;
}
